/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.jwc {
  &-border {
    &-main {
      label {
        font-size: 20px;
      }
    }

    &-radius {
      label {
        font-size: 20px;
      }
    }
  }

  &-select-city,
  &-change-font,
  &-text-color-control,
  &-font-balance,
  &-back-ground {
    .components-flex {
      display: flex;
      flex-direction: row;
      gap: 0;

      &-item {
        width: 50%;
      }

      label {
        &.components-text {
          font-size: 20px;
        }
      }
    }
  }

  &-back-ground {
    &--wrapper {

      .components-circular-option-picker__custom-clear-wrapper {
        margin-top: -12px;
      }
    }

    &__selector {
      display: flex;
      flex-direction: row-reverse;
      width: 50%;
    }

    &__image {
      text-align: right;
      .button-insert {
        font-size: 13px;
        border: 0.5px solid;
        width: 100%;
        margin: auto;
        display: block;
      }
    }
  }

  &-visibility {
    &-control {
      &__title {
        width: 50%;

        p {
          transform: translateX(33%);
          font-size: 20px;
        }
      }
    }
  }
}

// components-border-box-control